/* Header1 */
html, body, p {
    margin: 0;
}
.header1div {
    background-color: black;
}
.header1 {
    color: rgb(255,163,26);
    text-align: center;
    font-size: 20px;
}
:root {
    background-image: url("https://plainbackground.com/plain1024/f7f0e6.png");

}

/* Header2 */
.header2div {
    border: solid rgb(234, 231, 231);
    border-width: 0px 0px 1px 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.leftdiv {
    flex: 10;
}
.centerdiv {
    flex: 30;
}
.rightdiv {
    display: flex;
    flex-direction: row;
    flex: 5;
    justify-content: space-between;
}
.headerp1 {
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}
.searchbox1 {
    font-size: 20px;
    width: 90%;
    padding: 7px;
    border: 5px transparent black;
    border-radius: 15px;
}
.subheaderdivdiv {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid rgb(234, 231, 231);
    background-color: black;
    height: 45px;
    align-items: center;
}
.subheaderdiv {
    display: flex;
    font-size: 15px;
    color: rgb(27,27,27);
    font-weight: bold;
    justify-content: space-between;
    flex:3;
}
.space1 {
    flex:1;
}
.b {
    border: black solid 2px;
    color:white;
    transition: 0.5s;
    padding: 5px;
    cursor: pointer;
}
.b:hover {
    border: rgb(255,163,26) solid 2px;
    background-color: rgb(255,163,26);
    border-radius: 5px;
    padding: 5px;
}

/* Search box css */
.search-container {
    display: flex;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    font-size: 20px;
    width: 500px
}

.search-button {
    padding: 8px 15px;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    outline: none;
}

.search-button i {
    font-size: 18px;
}

.search-button:hover {
    background-color: rgb(255,163,26);
    border-color: rgb(255,163,26);
}




/* Shopping1 */
.filter {
    /* margin: 10px auto;
    width: max-content; */
    display: flex;
    justify-content: center;
}
.filter1div {
    display:inline-block;
    border: 2px solid black;
    border: ridge;
    border-radius: 5px;
    background-color: #faf9f6;
    margin: 25px;
    cursor: pointer;
}
.filter1div:hover {
    box-shadow: 2px 2px 2px gray;
    border: groove;
}
.filterimgd {
    display: inline-block;
    margin: 5px;
    padding: 2px;
    border: 0px solid lightgray;
    border: groove;
    background-color: lightgray;
}
.filterimg {
    width: 40px;
}
.infofilterd {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
.infofilter {
    font-size: 15px;
    font-weight: bold;
}
.infofilter1 {
    font-size: 15px;
    color: rgb(212, 10, 10);
    margin-top: 10px;
}
.number1d {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}




/* Shopping2 */
.shoppro {
    margin: 70px auto;
}
.prodiv {
    width: max-content;
    margin:auto;
}
.pro1div {
    border: 2px solid black;
    display:inline-block;
    border: ridge;
    border-radius: 10px;
    margin: 10px 30px;
    cursor: pointer;
}
.pro1div:hover {
    border: groove;
    box-shadow: 2px 2px 2px black;
}
.pro1div:active {
    border: groove;
    box-shadow: 5px 5px 5px black;
}
.smimg1infdiv {
    margin: 3px 15px;
}
.smimg1 {
    width: 200px;
    height: 200px;
    object-fit: contain;
}



/* Footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    line-height:1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    max-width:1170px;
    
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
ul{
    list-style:none;
}
.footer{
    background-color: black;
    padding:70px 0;
}
.footer-col{
    width:25%;
    padding:0 15px;

}
.footer-col h4{
    font-size:18px;
    color:#ffa31a;
    text-transform:capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}
.footer-col h4::before{
    content:'';
    position:absolute;
    left:0;
    bottom:-10px;
    background-color: #e91e63;
    height:2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize ;
    color: #ffffff;
    text-decoration:none ;
    font-weight: 300;
    color: #ffa31a;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgb(255,163,26);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color:#ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #c05c5c;
}
.web{
    text-align: center;
    color: #ffa31a;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
footer > p {
    margin-bottom: 0cqmax;
    text-align:center;
    color:#ffa31a;
}
/*responsive*/
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
.line1 {
    margin: 60px 100px 20px 100px
}




/* Slid3er styling */
    /* Style for the slider container */
    .showSlide {
        display: none
    }
        .showSlide img {
            width: 100%;
        }
    .slidercontainer {
        max-width: 1000px;
        position: relative;
        margin: auto;
        margin-bottom: 50px;
    }
    /* .slidercontainer > img {
        width: 1500px;
    } */
    .left, .right {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
    .right {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
        .left:hover, .right:hover {
            background-color: rgba(115, 115, 115, 0.8);
        }
    .content {
        color: magenta;
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
        padding: 8px 12px;
        position: absolute;
        top: 10px;
        width: 100%;
        text-align: center;
    }
    .active {
        background-color: #717171;
    }
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }